body {
    background-color: #bce5d8;
    margin: 0;
    padding: 0;
}

.page {
    background: linear-gradient(black, #063852);
    text-align: center;
}

.header {
    text-decoration: overline;
    font-family: 'Lora', serif;
    font-size: 1.1cm;
    color: #F0810F;
    text-align: center;
}

.content {
    background-color: #001A27;
    margin: 0 auto;
    width: 750px;
    text-align: left;
    padding: 20px;
}

.main {
    font-family: 'Lora', serif;
    font-size: 1.5cm;
    font-style: italic;
    color: #E6DF44;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #2D4262;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#rTitle {
    text-align: center;
}

a {
    font-family: 'Lora', serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: #E6DF44;

}

.menu {
    text-align: center;
}

.nav-items:hover {
    text-decoration: underline;
    cursor: crosshair;
}

.btn:hover {
    background-color: RoyalBlue;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.backimg {
    display: flex;
    justify-content: center;
}

#vin {
    margin-top: 20px;
    height: 500px;
    width: 100%;
}
